@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #131722;
}

#root {
  /* background-image: url('../../public/runesvr-web-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; 
  width: 100%;
  height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wiki-button {
  position: absolute;
  top: 370px;
  right: 350px;
  width: 200px;
  height: 70px;
  font-size: 50px;
  background-color: white;
}
