.wiki-item-container > * {
    height: 100%;
    cursor: pointer;
}

.wiki-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
}

.wiki-item-image-container {

}

.wiki-item-more-details {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.wiki-item-description-container {
    display: none;
}

.wiki-item-title {
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}


.cont {
    
}

.cont2 {
  
}