
#wiki-item-container {
    height: 100%;
}

.wiki-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
}

.wiki-item-title {
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}